.sidebar-wrapper{
  position: relative;
  height: 100vh;
}

.sidebar {  
  z-index: 102;   
  padding: 0.5rem 0.25rem;
  overflow: hidden;  
  background-color: #fff;  
  border-right: 1px solid #eee;
}

.sidebar-vertical {
  max-width: 800px;
  min-width: 300px;
  height: 100%;
}

.sidebar-horizontal{
  max-height: 800px;
  min-height: 300px;
  width: 100%;
}

.sidebar-over{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;   
}

.sidebar-nearby{
  display: flex;
}

.tran{
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease;
}

.sidebar-hidden_vertical{
  transform: translateX(-100%);
}

.sidebar-hidden_horizontal{
  transform: translateY(-100%);
}

.sidebar-hidden-nearby{
  display: none;
}

.sidebar-main{
  width: 100%;
}